.listContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.listSearch{
    background-color: transparent;
    border: 1px solid #010708;
    color: #010708;
    border-radius: 0.25rem;
    display: block;
    padding: 16px;
    margin-bottom: 4em;
    width: 250px;
    min-width: 150px;
}