.sortButton{
width: 15em
}

.datatableContainer{
    
border-radius: 0.25em;
display: flex;
flex-direction: column;
background-color: #808080;
 
    
}

.datatableRow{
    padding: 0.5em;
    border-bottom: 0.31em solid #d7d7d7;
}

